.ex_section{margin-top: 100px;}

.ex_section .sec_title{margin-bottom: 80px;text-align: center;}

.ex_box{width: 100%; position: relative;}
.ex_box img.ex_bg{width: 100%;height: auto;}
.ex_box h3{padding-top: 30px ;font: 15px/1.5 'Spoqa Han Sans Neo';color: #fff;box-sizing: border-box;position: absolute;top: 0;left: 30px;}
.ex_box img.ex_typo{height: 30px;padding: 15px 0 0 0;position: absolute;top: 50px;left: 30px;}
.ex_box>p{font: 300 13px  'Spoqa Han Sans Neo';color: #fff;padding-right: 30px; position: absolute;top: 120px;left: 30px;}
.ex_box a{display: block; font:200 13px  'Spoqa Han Sans Neo';color: #fff;position: absolute;bottom: 30px;left: 30px;background: url(../img/arrow_w.png)no-repeat right center;width: 100px;}


.ex_imgbox img{display: block;width: 100%;height: auto;}
.box_wrap{
    position: relative;
}

/* tablet */
@media all and (min-width:768px){
    .ex_section{}
    .box_wrap{
        position: relative;
      
    }
    .ex_box{width: 52%;height: auto;  float: left;text-align: left;box-sizing: border-box;margin-bottom: 120px;}
    .ex_imgbox{width: 52%;height: auto; float: right;
    position: absolute; top: 30px; right: 0;}

    .ex_box h3{padding-top: 30px ;font: 16px/1.5 'Spoqa Han Sans Neo';color: #fff;box-sizing: border-box;position: absolute;top: 0;left: 30px;}
.ex_box img.ex_typo{height: 35px;padding: 15px 0;position: absolute;top: 50px;left: 30px;}
.ex_box>p{font: 300 16px  'Spoqa Han Sans Neo';color: #fff;padding-right: 30px; position: absolute;top: 130px;left: 30px;}
.ex_box a{display: block; font:200 15px  'Spoqa Han Sans Neo';color: #fff;position: absolute;bottom: 30px;left: 30px;}
   
}



/* pc */
@media all and (min-width:1152px){
    .ex_section .sec_title{text-align: left;width: 1152px;margin: 80px auto;font-size: 35px;}
   
    .ex_box{width: 52%;height: auto;  float: left;text-align: left;box-sizing: border-box;}

    .ex_box h3{padding-top: 50px ;font: 20px/1.5 'Spoqa Han Sans Neo';color: #fff;box-sizing: border-box;position: absolute;top: 0;left: 40px;}
.ex_box img.ex_typo{height: 42px;padding: 35px 0;position: absolute;top: 50px;left: 40px;}
.ex_box>p{margin: 50px 0;font: 300 18px  'Spoqa Han Sans Neo';color: #fff;padding-right: 30px; position: absolute;top: 130px;left: 40px;}
.ex_box a{display: block; font:200 15px  'Spoqa Han Sans Neo';color: #fff;position: absolute;bottom: 50px;left: 40px;}
   

}
