
















@media all and (min-width:1320px){
    #sec1{margin-top: 7%;}
    
    .title{
        display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 80px;
    }
    
    .mainTitle{
        font-family: 'twayair';
        font-size: 4rem;
    }
   
    .sec1_wrapper{
        display: flex;
        justify-content: space-between;
        font-family:  'Spoqa Han Sans Neo', 'sans-serif';
    }
    .txt_box{
        width: 50%;
    }
    .self_title{
        color: #372560;
        font-size: 4rem;
        font-weight: 700;   
    }
    .self_dex{
        color: #666;
        font-size: 1.8rem;
        font-weight: 300;
        margin-top: 40px;
    }
    .small_txt{
        font-size: 1.8rem;
        margin-top: 40px;
        display: flex;
        justify-content: flex-start;
    }
    .sm_txt_left{
        font-weight: 400;
        color:#372560 ;
        padding-right: 30px;
    }
    .sm_txt_right{
        font-weight: 300;
        color: #666;
    }
    .img_box{
        width: 50%;
    }
    .img_box img{
        display: block;
        width: 100%;
        margin: 0;
        
    }

/* 탭영역 */
#tab{}
.icon_box{margin-top: 5%;}
ul.icon{
    display: flex;
    justify-content: space-between;
    margin-right: 20%;
    padding-left:0;}
.icon>li{width: 100%;text-align: center;padding-left:0;}
.icon>li>div{height: 54px;}
.icon>li>p{font: bold 1.4rem 'Spoqa Han Sans Neo', 'sans-serif';color:#372560 ;padding: 5%;}

    /*아이콘 효과*/
ul.icon>li:nth-child(1) div{background: url(/portfolio/kimyesol/img/icon1.png)no-repeat center center ;}
ul.icon>li:nth-child(2) div{background: url(/portfolio/kimyesol/img/icon2.png)no-repeat center center ;}
ul.icon>li:nth-child(3) div{background: url(/portfolio/kimyesol/img/icon3.png)no-repeat center center ;}
ul.icon>li:nth-child(4) div{background: url(/portfolio/kimyesol/img/icon4.png)no-repeat center center ;}
ul.icon>li:nth-child(5) div{background: url(/portfolio/kimyesol/img/icon5.png)no-repeat  center center ;}

/* ul.icon>li.on:nth-child(1) div{background: url(/baskinrobbins/img/icon_iceQ_at.png)no-repeat center center ;}
ul.icon>li.on:nth-child(2) div{background: url(/baskinrobbins/img/icon_ice_at.png)no-repeat center center ;}
ul.icon>li.on:nth-child(3) div{background: url(/baskinrobbins/img/icon_cake_at.png)no-repeat center center ;}
ul.icon>li.on:nth-child(4) div{background: url(/baskinrobbins/img/icon_bv_at.png)no-repeat center center ;}
ul.icon>li.on:nth-child(5) div{background: url(/baskinrobbins/img/icon_dn_at.png)no-repeat  center center ;} */

ul.icon>li.on p{color: #f16176;}
}